body {
  background-color: #fff8f2;
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

span.intro {
  display:inline-block;
  margin: 25px 0 0 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  color: rgb(145, 107, 96);
}

/* CONTACT INFO */
.contact-info {
  display: flex;
  position: absolute;
  bottom: 55px;
  right: 80px;
}

.linkedin, .github {
  display: inline-block;
  margin-right: 21px;
  border: none;
  font-size: 26pt;
  color: #9ECCD4;
}

.website {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-decoration: none;
  font-family: 'Walter Turncoat', cursive;
  color:  #fff8f2;
  font-size: 14.5px;
  letter-spacing: 0.05em;
  border-radius: 19px;
  padding: 10px;
  border: none;
  background-color: #9ECCD4;
}

a:hover {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.3s;
}

/* FACTS */
.info-container {
  position: relative;
  margin: 100px 20px 0px 20px;
}

.fact-column {
  display: inline-block;
  width: 33vw;
  min-width: 250px;
}

.fact-column.right {
  float: right
}

.fact-wrapper {
  color: #273646;
  width: 50%;
  height: 50%;
  min-width: 250px;
  margin: 0 auto;
}

.fact {
  margin: 30px;
  min-width: 250px;
}

.seeds-fact,
.petal-fact {
  position: relative;
  transition: 1s;
  left: -43vw;
  text-align: right;
  margin-bottom: 110px;
  border-right: 6px #273646 solid;
  padding-right: 20px;
}

.birds-and-bees-fact,
.flower-fact {
  position: relative;
  transition: 1s;
  right: -43vw;
  top: 50px;
  margin-bottom: 70px;
  border-left: 6px #273646 solid;
  padding-left: 20px;
}

.active-seeds:hover {
  cursor: pointer;
}

.fact h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.55px;
  font-size: 42px;
}

.fact p {
  font-family: 'Nunito', sans-serif;
  letter-spacing : 0.9px;
  font-size: 19px;
  line-height: 23px;
}

.slide-right {
  right: 0;
  transition: 1s;
}

.slide-left {
  left: 0;
  transition: 1s;
}


/* SUNFLOWER */

.sunflower-svg {
  float: right;
  margin-right: 29vw;
}

/* sunflower color SVG  */
.cls-1{fill:#fccf00;}.cls-2{fill:#fd5;}.cls-3{opacity:0.8;}.cls-4{fill:#f2ab0c;}.cls-5{fill:#f4940b;}.cls-6{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:3px;}.cls-7{fill:#cf5e1b;}
.cls-8{fill:#668101;}.cls-9{fill:#91a15f;}
.cls-10{fill:#668101;}
.cls-11{fill:#b2bd8f;}
.cls-12{fill:#849743;}

svg {
  position: absolute;
  bottom: -44px;
  max-width: 390px; 
  width: 90%;
  overflow: visible;
}

path, ellipse {
  fill: transparent;
  transition: fill 0.2s
}

svg:focus,
svg:hover {
  outline: none;
}

.highlight:hover, .js-highlight {
  fill: rgba(216, 250, 242, 0.25);
  cursor: pointer;
}

/* SUNFLOWER ANIMATION */

@-webkit-keyframes waving-leaf{
  0%{-webkit-transform: rotate(5deg);}
  50%{-webkit-transform: rotate(-2deg)}
  100%{-webkit-transform: rotate(5deg);}
}

@keyframes waving-leaf{
  0%{transform: rotate(5deg);}
  50%{transform: rotate(-2deg)}
  100%{transform: rotate(5deg);}
}

.waving-leaf {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-animation: waving-leaf 3.5s ease-in-out forwards infinite;
  animation: waving-leaf 3.5s ease-in-out forwards infinite;
}

@-webkit-keyframes waving-leaf{
  0%{-webkit-transform: rotate(5deg);}
  50%{-webkit-transform: rotate(-2deg)}
  100%{-webkit-transform: rotate(5deg);}
}

@keyframes waving-leaf{
  0%{transform: rotate(5deg);}
  50%{transform: rotate(-2deg)}
  100%{transform: rotate(5deg);}
}

.sunflower-head, .entire-sunflower, .active-flower, .seeds, .active-seeds {
  transform-origin: 50% 50%;
  -webkit-animation: swaying-sunflower 3.5s ease infinite;
  animation: swaying-sunflower 3.5s ease infinite;
}

.stop-animation {
  animation: none;
}

@-webkit-keyframes swaying-sunflower {
  0%{-webkit-transform: rotate(-2deg);}
  50%{-webkit-transform: rotate(2deg)}
  100%{-webkit-transform: rotate(-2deg);}
}

@keyframes swaying-sunflower{
  0%{transform: rotate(-2deg);}
  50%{transform: rotate(2deg)}
  100%{transform: rotate(-2deg);}
}

/* CIRCLE ANIMATION */


@-webkit-keyframes scale {
	0% {transform: scale(0.987)  }
	50% { transform: scale(1) }
  100% { transform: scale(0.987) }
}

@keyframes scale {
	0% {transform: scale(0.987)  }
	50% { transform: scale(1) }
  100% { transform: scale(0.987) }
}

.circle-container {
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  margin-top: -13%;
  z-index: -1;
}

.outer-circle {
  position: absolute;
  border: solid 1px #F5F4EE;
  left: 10%;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  animation: scale 1.5s ease infinite;
}

.inner-circle {
  /* background: #9ECCD4; */
  border: solid 89px #F5F4EE;
  position: absolute;
  border-radius: 50%;
  top: 6%;
  left: 6%;
  width: 74%;
  height: 74%;
  animation: scale 1.5s ease infinite;
}
